# Ignore WordPress core
/wp-admin/
/wp-includes/
license.txt
readme.html

# Ignore all WordPress core files except wp-content
!wp-content/

# Ignore default wp-content stuff you don't need
wp-content/plugins/hello.php
wp-content/themes/twenty*/

# Ignore config files (optional)
wp-config.php
wp-config-sample.php

# Ignore OS and IDE files
.DS_Store
*.log
*.tmp
.vscode/
.idea/
*.code-workspace

# Ignore uploaded files
wp-content/uploads/