# WordPress core files
wp-config.php
wp-content/uploads/
wp-content/cache/
wp-content/upgrade/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE/editor files
.vscode/
.idea/

# OS junk
ehthumbs.db
